.line::after {
  content: "";
  position: absolute;
  top: 0%; 
  right: 0px; 
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px; /* 箭头形状和大小 */
  border-color: transparent transparent transparent #000; /* 箭头颜色，与直线颜色一致 */
  transform: translateY(-50%); /* 确保箭头垂直居中 */
}

.line::before {
  content: '';
  position: absolute;
  top: 0%; /* 箭头垂直居中 */
  left: 0px; /* 箭头位置，根据需要调整 */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 10px 5px 0; /* 箭头形状和大小 */
  border-color: transparent #000 transparent transparent; /* 箭头颜色，与直线颜色一致 */
  transform: translateY(-50%); /* 确保箭头垂直居中 */
}

.bottom-line::after {
  content: "";
  position: absolute;
  top: 100%; 
  right: 0px; 
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px; /* 箭头形状和大小 */
  border-color: transparent transparent transparent #000; /* 箭头颜色，与直线颜色一致 */
  transform: translateY(-50%); /* 确保箭头垂直居中 */
}

.bottom-line::before {
  content: '';
  position: absolute;
  top: 100%; /* 箭头垂直居中 */
  left: 0px; /* 箭头位置，根据需要调整 */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 10px 5px 0; /* 箭头形状和大小 */
  border-color: transparent #000 transparent transparent; /* 箭头颜色，与直线颜色一致 */
  transform: translateY(-50%); /* 确保箭头垂直居中 */
}

.write-vertical-right {
  writing-mode: vertical-rl !important;
}

.left-line::after {
  content: '';
  position: absolute;
  top: 100%; /* 箭头垂直居中 */
  left: -10px; /* 箭头位置，根据需要调整 */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 10px 5px 10px; /* 箭头形状和大小 */
  border-color: transparent #000 transparent transparent; /* 箭头颜色，与直线颜色一致 */
  transform: translateY(-50%) rotate(-90deg); /* 确保箭头垂直居中 */
  /* background:white */
}

.left-line::before {
  content: '';
  position: absolute;
  top: 0px; /* 箭头垂直居中 */
  left: -10px; /* 箭头位置，根据需要调整 */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 10px 5px 10px; /* 箭头形状和大小 */
  border-color: transparent #000 transparent transparent; /* 箭头颜色，与直线颜色一致 */
  transform: translateY(-50%) rotate(90deg); /* 确保箭头垂直居中 */
  /* background:white */
}



.right-line::after {
  content: '';
  position: absolute;
  top: 100%; /* 箭头垂直居中 */
  right: -10px; /* 箭头位置，根据需要调整 */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 10px 5px 10px; /* 箭头形状和大小 */
  border-color: transparent #000 transparent transparent; /* 箭头颜色，与直线颜色一致 */
  transform: translateY(-50%) rotate(-90deg); /* 确保箭头垂直居中 */
  /* background:white */
}

.right-line::before {
  content: '';
  position: absolute;
  top: 0px; /* 箭头垂直居中 */
  right: -10px; /* 箭头位置，根据需要调整 */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 10px 5px 10px; /* 箭头形状和大小 */
  border-color: transparent #000 transparent transparent; /* 箭头颜色，与直线颜色一致 */
  transform: translateY(-50%) rotate(90deg); /* 确保箭头垂直居中 */
  /* background:white */
}





.cylinder::before{
  content: '';
  position: absolute;
  top:-10%;
  left:0;
  width:100%;
  height:20%;
  background:#0fd7d7;
  border-radius:50%;
  border-bottom:1px solid white;
}

.cylinder::after{
  content: '';
  position: absolute;
  bottom:-10%;
  left:0;
  width:100%;
  height:20%;
  background:#0fd7d7;
  border-radius:50%;
  border-top:1px solid white;
}

